.App {
  text-align: center;
  background: #fff;
  height: auto;
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.InputCoeficiente {
  max-width: 5em;
  min-width: 4em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  max-height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

td.btnSize {width:60px}

.App-link {
  color: #61dafb;
}

.Navbar{
  align-items: center;
}

.LogoMenu{
  width: 70px;
  height: 70px;
}

.Menu{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #007f83;
}

.Nav-Item{
  padding-left: 10px;
  padding-right: 10px;
}

.Pmenu{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 18px;
  color: #fff;
}

.Linha{
  margin-right: 0px!important;
  margin-left: 0px!important;
}

.DropA{
  color: #fff;
}

.DropA:hover{
  color: #fff;
}

.LinkDrop{
  color: #007f83;
  text-decoration: none;
}

.LinkDrop:hover{
  color: #007f83;
  text-decoration: none;
}

.Jumbo {
  padding: 2rem!important;
}

.LogoDg{
  width: 150px;
}

.LogoFb{
  width: 200px;
}

.Logos{
  display: flex;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
